/* STYLE */
*{
  box-sizing: border-box;
  font-family:Courier New;
  padding:0px;
}
html {height:100%;}
body {margin: 0px; position: relative; height:100%; background-color: #f1f1f1}

/****** Start NAVBAR ******/
.container {

    width: 1170px;
    margin: auto;
}
.navbar
{
    color: #fff;
    background-color: #252e30;
    overflow: hidden;
}

.navbar h2
{
    text-transform: uppercase;
    float: left;
}

.navbar h2 span
{
    color: #007bff;
}

.navbar ul
{
    list-style: none;
    padding-left: 0;
    float: right;

}

.navbar ul li
{
    float: left;
    padding: 10px;
}
.navbar ul li a
{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid #007bff;
    border-radius: 20px;
}
.navbar ul li.active a,
.navbar ul li a:hover
{
  color: #007bff;
  background-color: #f1f1f1;
  border: 2px solid #007bff;
}

.btn-logout {

  display: block;
  position: absolute;
  right: 20px;
  padding: 5px;
  color: #fff;
  background-color: #007bff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: color .15s;
  cursor: pointer;

}
.btn-logout:hover {background-color: #fff; color: #007bff}
/****** End NAVBAR ******/

/******* Start Login Form ********/

.login {
    width: 300px;
    margin: 100px auto;
}

.login h4 {
  color: #444;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 80px;
}

.login input { margin-bottom: 10px}

.login .form-control {

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

.login .btn-login {

    display: block;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    margin-left: 80px;
    margin-top: 7px;
    padding: 5px 50px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s;
    cursor: pointer;
}

.login .btn-login:hover {background-color: #fff; color: #007bff; border: 1px solid #007bff}

.login .btn-signup {

    display: inline-block;
    padding-left: 45px;
    color: #007bff;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s;
}

input[type=checkbox] {

    float: left;
    margin-top: 1px;
}

.login p {

    width: 85%;
    margin: 0 10px;
    float: left;
    margin-bottom: 10px;
}
/******* End Login Form *********/

/******* Start signup Form******/
.signup-form {
    width: 300px;
    margin: 100px auto;
  }


.signup-form h2 {
  color: #444;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 80px;
}

.signup-form input { margin-bottom: 10px}

.signup-form .form-control {

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

.signup-form .btn-login {

    display: block;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    margin-top: 7px;
    padding: 5px 96px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s;
    cursor: pointer;
}

.signup-form .btn-login:hover {background-color: #fff; color: #007bff; border: 1px solid #007bff}

/******* End signup Form******/


/******* Start Footer******/

footer{
  background: #222222;
  margin: 0px;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color:snow;
  font-weight: bold;
}

footer span {color: #007bff; cursor: pointer;}

/******* End Footer******/
